<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arcsoft.arcfacedemo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:largeHeap="true"
    >
        <activity
            android:theme="@style/SampleTheme.Light"

            android:name=".activity.PreviewActivity"
            android:launchMode="singleTop" />
        <activity
            android:theme="@style/SampleTheme.Light"

            android:name=".activity.ChooseFunctionActivity"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:theme="@style/SampleTheme.Light"

            android:name=".activity.SingleImageActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.MultiImageActivity"
            android:launchMode="singleTop" />

        <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/SampleTheme.Light"
            android:name=".activity.RegisterAndRecognizeActivity"
            android:launchMode="singleTop" />
        <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/SampleTheme.Light"
            android:name=".activity.ArcFaceRecognizeActivity"
            android:launchMode="singleTop" />
        <activity
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/SampleTheme.Light"
            android:name=".activity.ArcFaceForFindingActivity"
            android:launchMode="singleTop" />
        <activity
            android:theme="@style/SampleTheme.Light"

            android:name=".activity.FaceManageActivity"
            android:launchMode="singleTop" />
        <activity
            android:theme="@style/SampleTheme.Light"

            android:name=".idcard.MainActivity"
            android:launchMode="singleTop" />
        <!--<provider-->
            <!--android:name="android.support.v4.content.FileProvider"-->
            <!--android:authorities="${applicationId}.provider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/provider_paths" />-->
        <!--</provider>-->

    </application>

</manifest>